.welcome-heading {
  text-align: initial;
  width: 18%;
  margin-left: 550px;
  margin-top: 250px;
  font-size: 3rem;
}

.welcome-text {
  float: right;
  width: 18%;
  display: block;
  font-size: 1.5rem;
  position: relative;
  bottom: 150px;
  margin-right: 550px;
  text-align: left;
}

.Create {
  text-align: center;
  margin: 0 auto;
}

.Create h1 {
  margin-bottom: 4%;
}

.post-inputs {
  display: block;
  margin: 5px auto;
  font-size: 1.15rem;
}

input[type='text'] {
  width: 245px;
  height: 20px;
}

footer {
  position: absolute;
  left: 46.45%;
  bottom: 1.5%;
}
