.welcome-heading {
  text-align: initial;
  width: 20%;
  margin-left: 25%;
  margin-top: 14rem;
  font-size: 3rem;
  animation: 1s ease-out 0s 1 move-in-from-left;
}

@keyframes move-in-from-left {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0%);
  }
}

.welcome-text {
  float: right;
  width: 25%;
  display: block;
  font-size: 1.5rem;
  position: relative;
  bottom: 10rem;
  right: 25%;
  /* margin-right: 34.375rem; */
  text-align: left;
  line-height: 1.4;
}

.welcome-text-section {
  color: #da0037;
}

.Create {
  text-align: center;
  margin: 0 auto;
}

.Create h1 {
  margin-bottom: 4%;
  color: #da0037;
}

.post-inputs {
  display: block;
  margin: 5px auto;
  font-size: 1.15rem;
}

.post-button {
  padding: 10px;
  width: 4%;
  border-radius: 15px;
  border: none;
  background-color: #da0037;
  color: #ffff;
}

.post-button:hover {
  background-color: #ff255c;
  cursor: pointer;
}

.loading-spinner {
  position: absolute;
  right: 48.25%;
  animation-name: spinning;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  /* linear | ease | ease-in | ease-out | ease-in-out */
  animation-timing-function: linear;
}

@keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

textarea {
  border: 1px solid #dd2c00;
  border-radius: 30px;
  padding: 10px;
}

input[type="text"] {
  width: 245px;
  border: 1px solid #dd2c00;
  border-radius: 30px;
  box-shadow: 1px 1px 2px black;
  height: 20px;
  padding: 5px;
}

input[type="text"]:focus,
textarea:focus {
  outline: 3px solid #da0037;
}

.Posts h1 {
  margin-bottom: 4%;
  color: #da0037;
}

.post {
  margin: 2% auto;
  border: 3px solid #da0037;
  border-radius: 30px;
  width: 25%;
  padding: 2%;
  box-shadow: 2.5px 2.5px 10px black;
  background-color: #da003711;
}

.post h2,
.post h3 {
  margin-bottom: 2%;
}

.post p {
  width: 90%;
  margin: 3% auto 2%;
  line-height: 1.4;
}

.Admin table {
  text-align: center;
  margin: 1% auto;
  /* border: 2px solid black; */
  color: black;
}

.Admin h1 {
  color: black;
  margin-bottom: 10px;
}

.Admin {
  background-color: white;
}

.Admin td {
  border: 1px solid black;
  padding: 12px;
}

.Admin button {
  margin-top: 5%;
}

.post-row .delete-button {
  background-color: red;
  font-weight: 600;
  padding: 0.5%;
  position: relative;
  top: 5%;
  cursor: pointer;
}

.post-row .delete-button:hover {
  background-color: rgba(255, 0, 0, 0.63);
}

footer {
  position: absolute;
  left: 46.45%;
  bottom: 1.5%;
}

@media only screen and (max-width: 1536px) {
  .welcome-text {
    bottom: 10rem;
    width: 29.1%;
    right: 17.5%;
  }

  .welcome-heading {
    width: 25%;
  }

  .post-button {
    width: 5.5%;
    margin-top: 7px;
  }
}

@media only screen and (max-width: 600px) {
  .welcome-heading {
    width: 75%;
    font-size: 2.25rem;
    text-align: center;
    margin: 3% auto;
    animation: 1.5s ease-out 0s 1 drop_down;
  }

  @keyframes drop_down {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0%);
    }
  }

  .welcome-text {
    width: 95%;
    position: initial;
    margin-top: 5%;
  }

  .Create {
    margin-top: 10%;
  }

  .post-button {
    width: 25%;
  }

  .post {
    width: 80%;
    margin: 0 auto 3%;
  }

  .Admin {
    display: none;
  }

  footer {
    left: 34.5%;
  }
}
