@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Ranchers&display=swap');

* {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

html {
  background-color: #171717;
  text-align: center;
  background-image: url('https://www.transparenttextures.com/patterns/inspiration-geometry.png');
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 0 100px;
  color: #ededed;
}

@media only screen and (max-width: 1536px) {
}

@media only screen and (max-width: 600px) {
}
