nav {
  background-color: #ff5722;
  /* padding-bottom: 0.75rem; */
  text-align: center;
  margin-bottom: 2%;
  border-bottom: 2px solid #dd2c00;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin: 1.25rem 10rem;
  font-size: 1.25rem;
}

nav a {
  margin: 0;
  color: #ffff;
  text-decoration: none;
}

.home-link {
  font-family: 'Ranchers', cursive;
  font-size: 2.25rem;
  -webkit-text-stroke: 1px black;
}

.posts-link {
  font-weight: 600;
}

.create-link {
  font-weight: 600;
}

nav a:hover {
  color: #00bcd4;
}

@media only screen and (max-width: 600px) {
  .home-link {
    font-size: 1.5rem;
  }

  nav li {
    font-size: 1rem;
  }

  .posts-link,
  .create-link {
    font-weight: normal;
  }
}
